@font-face {
    font-family: 'montserrat';
    src: url('paginas/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'sigmar';
    src: url('paginas/fonts/Sigmar/Sigmar-Regular.ttf');
  }
body{
    font-family: 'montserrat';
    background-color:aliceblue;
}
.imagen-principal{
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 2px 5px 12px 0px #000000;
}
.contenedor-imagen-principal{
    overflow: hidden;
    position: relative;
}
.contenido-informacion{
    position: absolute;
    top: 25%;
    left: 10%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
}
.logotipoHE{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.ver-mas{
    background-color: transparent;
    color: white;
    border: 1px;
    border-color: white;
    border-style: solid;
    padding: 15px;
    cursor: pointer;
}
.cont_redes{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.cont_redes a{
    padding: 10px;
    box-shadow: 10px 11px 8px 0px #878787;
    border-radius: 10px;
    background-color: white;
    animation: 1s;
}
.cont_redes a:hover{
    transform: translate(5px, 5px);
    padding: 10px;
    box-shadow: 5px 6px 4px 0px #878787;
    border-radius: 10px;
    background-color: white;
}
.subtitulo{
    margin-top: 40px;
    margin-left: 50px;
    font-family: "montserrat";
}
.Proyectos_container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.proyecto{
    background-color: white;
    box-shadow: 0px 5px 9px 1px #6b6b6b;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
}
.proyecto img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}
.yo{
    margin: 40px;
    font-size: 20px;
    padding: 20px 50px 20px 50px;
    box-shadow: 0px 5px 9px 1px #6b6b6b;
    border-radius: 10px;
    background-color: white;
}
@media only screen and (min-width:854px) and (max-width:1035px){
    .cont_redes{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .cont_redes a{
        display: flex;
        padding-bottom: 50px;
        padding-top: 50px;
        box-shadow: 15px 16px 12px 0px #878787;
        border-radius: 20px;
        animation: 1s;
        flex: 0 0 30%;
        box-sizing: border-box;
    }
    .cont_redes a img{
        margin: auto;
        width: 50%;
    }
    .imagen-principal{
        width: 100%;
        height: 1200px;
    }
    .contenido-informacion{
        position: absolute;
        top: 15%;
        left: 5%;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        padding: 70px;
        font-size: 30px;
    }
    .logotipoHE{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 20px;
    }
    .ver-mas{
        font-size: 25px;
        background-color: transparent;
        color: white;
        border: 1px;
        border-color: white;
        border-style: solid;
        padding: 15px;
        cursor: pointer;
        margin: 20px;
        margin-left: 0px;
    }
    .proyecto{
        width: 80%;
    }
    .yo{
        background-color: white;
        margin: 40px;
        font-size: 24px;
        padding: 20px 50px 20px 50px;
        box-shadow: 13px 13px 12px 0px #878787;
        border-radius: 20px;
    }
}
@media screen and (max-width:767px){
    .cont_redes a img{
        width: 100%;
    }
}