header{
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgb(255, 255, 255);
}
h1{
    margin-right: 20px;
    color: rgb(94, 0, 182);
}
.apartados{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-right: 5px;
    margin-left: 5px ;
    margin-top: 20px;
}
.apartados:hover{
    background-color: rgba(0, 0, 0, 0.123);
    border: 1px solid black;
}
.imagen-principal{
    width: 100%;
}
.contenedor-imagen-principal{
    position: relative;
}
.contenido-informacion{
    position: absolute;
    top: 25%;
    left: 10%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    padding: 30px;
}
.logotipoHE{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.ver-mas{
    background-color: transparent;
    color: white;
    border: 1px;
    border-color: white;
    border-style: solid;
    padding: 15px;
    cursor: pointer;
}
@media only screen and (min-width:0px) and (max-width:853px){
    .apartados{
        cursor: pointer;
        font-size: 0px;
    }
  }

@media only screen and (min-width:854px) and (max-width:1035px){
    h1{
        font-size: 24px;
        margin-right: 0px;
    }
    .apartados{
        cursor: pointer;
        font-size: 14px;
    }
  }