---
import GooglePlay from "../buttons/GooglePlay.astro";
import Carrusel from "../carruseles/carrusel.astro";
const imagenesCarrusel = [
  {
    src: "/images/limonClicker/limon1.jpg",
    tipo: "imagen_vertical",
  },
  {
    src: "/images/limonClicker/limon2.jpg",
    tipo: "imagen_vertical",
  },
  {
    src: "/images/limonClicker/limon3.jpg",
    tipo: "imagen_vertical",
  },
];
---

<main>
  <span id="cont_titulo_juego">
    <h2 id="titulo_juego">Lemon<br />Clicker</h2>
  </span>
  <div id="img_info">
    <img
      id="imagen_principal"
      src="/images/limonClickerTransparent.png"
      alt=""
      srcset=""
    />
    <div id="cont_presentacion">
      <p id="presentacion">
        ¡Prepárate para exprimir diversión! 🍋 <br /><br />
        En este emocionante juego clicker, tu misión es convertir un humilde limón
        en una auténtica máquina de ganancias. <br /><br />
        Personaliza tu limón con estilos únicos, adquiere mejoras para maximizar
        tus clics y desbloquea poderosos autoclicks que trabajarán mientras tú descansas.
        ¿Tienes lo necesario para crear el imperio limonero definitivo? ¡Haz clic
        y descúbrelo!
      </p>
    </div>
  </div>

  <Carrusel images={imagenesCarrusel} />

  <div id="cont_botones_descarga">
    <h2>Disponible en:</h2>
    <GooglePlay />
  </div>
</main>
<style>
  @font-face {
    font-family: "milky_mania";
    src: url("/src/fonts/MilkyMania.ttf");
  }

  body {
    background-image: url("/src/assets/fondo.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #cont_itulo_juego {
    display: flex;
  }
  #titulo_juego {
    font-family: "milky_mania";
    font-size: 15vh;
    color: white;
    text-align: center;
    margin: 0px;
    margin-top: 80px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
  }
  #img_info {
    display: flex;
  }
  #imagen_principal {
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px #000000);
    width: 50%;
  }
  #cont_presentacion {
    align-content: center;
  }
  #presentacion {
    border-radius: 10px;
    padding: 3vw 5% 3vw 5%;
    background-color: rgba(0, 0, 0, 0.541);
    font-size: 22px;
    color: white;
  }

  #cont_botones_descarga {
    margin-top: 60px;
    text-align: center;
    font-size: large;
    color: aliceblue;
  }

  @media only screen and (min-width: 0px) and (max-width: 854px) {
    #img_info {
      display: block;
    }
    #imagen_principal {
      width: 100%;
    }
    #boton_playstore {
      width: 70vw;
    }
  }
</style>
