---
import Proyects from "../links/Proyects.astro";
---

<h2 class="subtitulo">Proyectos</h2>
<div class="Proyectos_container">
  <Proyects
    href="pagina.astro"
    img="/src/assets/images/Banner lemon clicker.jpg"
  />
</div>
<div class="Proyectos_container">
  <Proyects href="pagina.astro" img="/src/assets/images/banner pvz store.jpg" />
</div>
<style>
  .subtitulo {
    margin-top: 40px;
    margin-left: 50px;
    font-family: "montserrat";
  }
  .Proyectos_container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
</style>
