---
import RedesSociales from "../links/RedesSociales.astro";
---

<div class="cont_redes">
  <RedesSociales
    href="mailto:garlymanzanero70@gmail.com"
    img="/icons/Gmail.svg"
  />
  <RedesSociales
    href="https://play.google.com/store/apps/dev?id=7302087374311490915"
    img="/icons/PlayStore.svg"
  />
  <RedesSociales
    href="https://github.com/hacketubers-entertainment"
    img="/icons/GitHub.svg"
  />
  <RedesSociales
    href="https://discord.gg/QatmRyH9Me"
    img="/icons/Discord.svg"
  />
  <RedesSociales
    href="https://www.instagram.com/hacketuber_entertainment"
    img="/icons/Instagram.svg"
  />
  <RedesSociales href="https://x.com/hacketubersyt" img="/icons/X.svg" />
</div>

<style>
  .cont_redes {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  @media only screen and (min-width: 0px) and (max-width: 1035px) {
    .cont_redes {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 10px;
    }
  }
</style>
