---
import RedesSociales from "../links/RedesSociales.astro";
---

<div class="cont_redes">
  <RedesSociales
    href="mailto:garlymanzanero70@gmail.com"
    img="/src/assets/Gmail.svg"
  />
  <RedesSociales
    href="https://play.google.com/store/apps/dev?id=7302087374311490915"
    img="/src/assets/PlayStore.svg"
  />
  <RedesSociales
    href="https://github.com/hacketubers-entertainment"
    img="/src/assets/GitHub.svg"
  />
  <RedesSociales
    href="https://discord.gg/QatmRyH9Me"
    img="/src/assets/Discord.svg"
  />
  <RedesSociales
    href="https://www.instagram.com/hacketuber_entertainment"
    img="/src/assets/Instagram.svg"
  />
  <RedesSociales href="https://x.com/hacketubersyt" img="./src/assets/X.svg" />
</div>

<style>
  .cont_redes {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
</style>
