---
import Proyects from "../links/Proyects.astro";
---

<h2 class="subtitulo">Proyectos</h2>
<div class="Proyectos_container">
  <Proyects href="pagina.astro" img="/images/Banner lemon clicker.jpg" />
  <Proyects href="pagina.astro" img="/images/banner pvz store.jpg" />
</div>

<style>
  .subtitulo {
    margin-top: 40px;
    margin-left: 50px;
    font-family: "montserrat";
  }
  .Proyectos_container {
    justify-items: center;
    box-sizing: content-box;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
  }
</style>
