---
interface Props {
  Link: string;
}

const { Link } = Astro.props;
---

<a href={Link}>
  <img id="boton_playstore" src="/images/BotonGooglePlay.png" alt="boton" />
</a>
<style>
  #boton_playstore {
    width: 30vw;
  }
  @media screen and (max-width: 800px) {
    #boton_playstore {
      width: 70vw;
    }
  }
</style>
