<a
  href="https://play.google.com/store/apps/details?id=com.hacketubersentertainment.limonclicker"
>
  <img
    id="boton_playstore"
    src="/src/components/buttons/images/BotonGooglePlay.png"
    alt=""
  />
</a>
<style>
  #boton_playstore {
    width: 50vw;
  }
  @media screen and (max-width: 800px) {
    #boton_playstore {
      width: 70vw;
    }
  }
</style>
