#cont_juegos{
    display: flex;
}
.juego{
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(126, 126, 126);
    background-size: 100%;
    width: 30%;
    height: 500px;
    margin: auto;
}
.imagen-juego{
    object-fit: cover;
    width: 100%;
}
@media only screen and (min-width:0px) and (max-width:853px){
    #cont_juegos{
        display: grid;
    }
    .juego{
        width: 95%;
        height: auto;
        margin: 10px;
    }
}