header{
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 5px;
    display: flex;
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(94, 0, 182);
}

.apartados{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-right: 5px;
    margin-left: 5px ;
    margin-top: 20px;
    text-decoration: none;
}
.apartados:hover{
    background-color: rgba(0, 0, 0, 0.123);
    border: 1px solid black;
}
@media only screen and (min-width:0px) and (max-width:853px){
    .apartados{
        cursor: crosshair;
        font-size: 0px;
    }
    h1{
        font-size: 24px;
    }
  }

@media only screen and (min-width:854px) and (max-width:1035px){
    h1{
        font-size: 44px;
        margin-right: 0px;
    }
    .apartados{
        cursor: pointer;
        font-size: 0px;
    }
}