---
import Layout from "../layouts/Layout.astro";
import ContProyects from "../components/containers/ContProyects.astro";
---

<Layout>
  <main>
    <img src="" alt="" class="imagenPerfil" />
    <div class="descripcionPerfil">
      <p>
        Hola soy <b>Garly</b>, un desarrollador JavaScript apasionado y
        autodidacta, con experiencia construyendo proyectos reales que
        demuestran mi capacidad para resolver problemas, aprender rápidamente y
        aplicar buenas prácticas de desarrollo. Cuento con un título técnico en
        programación, lo que respalda mi formación formal, pero ha sido mi
        iniciativa personal la que me ha llevado a dominar herramientas modernas
        como Astro, React Native, Expo, Firebase y GSAP. <br />
        <br /> Me especializo en crear soluciones escalables y reutilizables, con
        un enfoque en experiencias fluidas tanto en web como en dispositivos móviles.
      </p>
      <div class="contactoProfecional">
        <a href="https://github.com/hacketubers-entertainment"
          ><img src="/icons/GitHub.svg" alt="icono github" class="icono" /></a
        >
        <a href="https://www.linkedin.com/in/garly-manzanero-sanchez-547718271"
          ><img
            src="/icons/linkedin.svg"
            alt="icono linkedin"
            class="icono"
          /></a
        >
        <a href="mailto:garly@example.com"
          ><img src="/icons/Gmail.svg" alt="icono gmail" class="icono" /></a
        >
      </div>
    </div>
    <img src="/figuritas/tocar.svg" alt="stiker" class="stiker tocar" />
    <img src="/figuritas/estrella.svg" alt="stiker" class="stiker estrella" />
    <img src="/figuritas/marcador.svg" alt="stiker" class="stiker marcador" />
  </main>
  <section>
    <div>
      <ContProyects />
    </div>
  </section>
</Layout>

<style>
  main {
    padding-top: 100px;
  }
  .imagenPerfil {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(195, 132, 255);
    left: 15vw;
    top: 10vh;
    z-index: 3;
  }
  .descripcionPerfil {
    background-color: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(10px);
    margin: 2vw;
    font-size: 24px;
    padding: 2vw 3vw 2vw 3vw;
    box-shadow:
      11px 11px 22px #a1a1a1,
      -11px -11px 22px #ffffff50;
    border-radius: 20px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;

    position: relative;
    min-height: 30vh;
    padding: 20px;
    width: 50vw;
    left: 30vw;
    bottom: 25vh;
    font-size: 20px;
    text-align: justify;
    z-index: 4;
  }
  .contactoProfecional {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    width: 110px;
    justify-content: space-between;
  }
  .icono {
    width: 30px;
  }
  .stiker {
    position: absolute;
    width: 16vw;

    animation: upDown 3s ease-in-out infinite;
    transform: rotate(-10deg);
  }
  .tocar {
    left: 5vw;
    top: 15vh;
  }
  .estrella {
    right: 5vw;
    top: 45vh;
    transform: rotate(20deg);
  }
  .marcador {
    left: 25vw;
    bottom: 5vh;
    transform: rotate(-20deg);
  }
</style>
