<h2 class="subtitulo">Sobre Nosotros</h2>
<div class="yo" id="yo">
  <p>
    "Hacketubers Entertainment es un equipo apasionado por el desarrollo de
    software. Nos dedicamos a crear experiencias únicas a través de:
    <ul>
      <li>Videojuegos envolventes que combinan innovación y diversión</li>
      <li>Aplicaciones móviles intuitivas y funcionales</li>
      <li>Aplicaciones y páginas web dinámicas, diseñadas para destacar</li>
    </ul>

    También creamos diferentes tipos de contenido en redes sociales, como
    videos, animaciones, dibujos digitales etc.
    <br /><br />

    Nuestro objetivo es transformar ideas en soluciones digitales que sorprenden
    y conectan. En Hacketubers Entertainment, nuestra prioridad siempre es el
    usuario final"
  </p>
</div>
<style>
  .yo {
    background-color: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(10px);
    margin: 2vw;
    font-size: 24px;
    padding: 2vw 3vw 2vw 3vw;
    box-shadow:
      11px 11px 22px #a1a1a1,
      -11px -11px 22px #ffffff50;
    border-radius: 20px;
  }
  .subtitulo {
    margin-top: 40px;
    margin-left: 50px;
    font-family: "montserrat";
  }
</style>
