---

---

<header>
  <div class="item">
    <h1>Hacketubers Entertainment</h1>
  </div>
  <div class="item"></div>
  <div class="SeccionesNavbar item">
    <a class="apartados" href="paginas/juegos.html"><p>Juegos</p></a>
    <a class="apartados"><p>Aplicaciones</p></a>
    <a class="apartados"><p>Sitios Web</p></a>
    <a class="apartados"><p>Animaciones</p></a>
    <a class="apartados"><p>Arte</p></a>
    <a class="apartados"><p>colaboradores</p></a>
    <a class="apartados"><p>proyectos</p></a>
  </div>
  <label class="btn_menu" class="apartados" for="btn-menu"
    ><img src="/src/assets/menu-01-stroke-rounded.svg" alt="" /></label
  >
</header>

<style>
  @font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "sigmar";
    src: url("../fonts/Sigmar/Sigmar-Regular.ttf");
  }
  @font-face {
    font-family: "bebas";
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf");
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 10px 1px #00000031;
  }
  h1 {
    padding-left: 10px;
    font-family: "bebas";
    color: rgb(70, 0, 136);
  }
  .item:nth-child(2) {
    flex-grow: 1;
  }
  .SeccionesNavbar {
  }

  .apartados {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 20px;
    text-decoration: none;
  }
  .apartados:hover {
    background-color: rgba(0, 0, 0, 0.123);
    border: 1px solid black;
  }
  .btn_menu {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: auto;
  }
  p {
    font-family: "montserrat";
  }
  @media only screen and (min-width: 0px) and (max-width: 853px) {
    .apartados {
      cursor: crosshair;
      font-size: 0px;
      padding-right: 0px;
      padding-left: 0px;
    }
    h1 {
      font-size: 24px;
    }
  }

  @media only screen and (min-width: 854px) and (max-width: 1200px) {
    h1 {
      font-size: 44px;
      margin-right: 0px;
    }
    .apartados {
      cursor: pointer;
      font-size: 0px;
    }
  }
</style>
