---
interface image {
  src: string;
  tipo: string;
}
interface Props {
  images: image[];
}
const { images } = Astro.props;
console.log(images);
console.log(images[0]);
---

<div
  id="cont_capturas"
  class={images[0].tipo === "imagen_horizontal" ? "horizontal" : "vertical"}
>
  {images.map((image, index) => <img class={image.tipo} src={image.src} />)}
</div>
<style>
  #cont_capturas {
    display: flex;
    height: 30vw;
    gap: 2vw;
    width: 100%;
    overflow: auto;
  }
  .vertical {
    justify-content: center;
  }
  .horizontal {
    justify-content: start;
  }
  @media screen and (max-width: 800px) {
    #cont_capturas {
      height: 50vw;
    }
  }
  .imagen_vertical {
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.658);
    border-radius: 5px;
  }
</style>
