---
import NavBar from "../components/navBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoico.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Hacketubers Entertainment</title>
    <meta
      name="google-site-verification"
      content="google90f1e9edfda55b64.html"
    />
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  body {
    background-color: hsla(132, 0%, 100%, 1);
    background-image: radial-gradient(
        circle at 91% 11%,
        hsla(13, 100%, 88%, 0.226) 4.038772213247173%,
        transparent 37.2265767974114%
      ),
      radial-gradient(
        circle at 66% 37%,
        rgba(228, 194, 255, 0.363) 0%,
        transparent 63.33640956108327%
      ),
      radial-gradient(
        circle at 36% 87%,
        hsla(268, 100%, 88%, 1) 12.107536057085522%,
        transparent 63.33640956108327%
      );
    background-blend-mode: normal, normal, normal;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
