---
import NavBar from "../components/navBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoico.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Hacketubers Entertainment</title>
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
